.modal-content
  %p.author
    = "Author: #{@media.author}"
  %p.explain
    Click image for playing from the beginning.
  %br
  = image_tag @media.image.url, id: "image"
  %audio#audio{src: @media.audio.url}

