:plain
  $("#modal").html("#{escape_javascript(render '/medias/show', id: @media.id)}")
  $("#modal").on("show.bs.modal", function(e){
    $("#image").click(function(e){
      audio.pause()
      audio.currentTime = 0
      audio.play()
    })
    $("body").addClass("modal-overlay")
  })
  $("#modal").on("hidden.bs.modal", function(e){
    $("#audio")[0].pause()
    $("#audio")[0].currentTime = 0
    $("body").removeClass("modal-overlay")
  })

  $("#modal").modal("show")

  var w = $(window).width();
  var h = $(window).height();
  var x = w * 0.4 / 2;
  var y = h * 0.4 / 2;

  $(".modal-content").css({'left': x + 'px','top': y + 'px'});
  console.log('left' + x + ' top' + y)
  $(document).ready(function(){
    var audio = $("#audio")[0]
    audio.play()
  })
